#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

input {
  height: 40px;
  display: block;
  height: 40px;
  margin: 0 auto;
}

.visible {
  display: flex;
}

.invisible {
  display: none;
}